
.artikel_main{
	vertical-align: top;
}
	
.artikel_categorie{
	clear: both;
	margin:10px; 
	padding: 5px;
}


.artikel_group{
	float: left;
	border: 1px gray solid; 
	margin:10px; 
	padding: 1px;
	border-radius: 5px;
	width: 160px;
	height: 150px;
	position: relative;
}

.artikel_group_icon{
	width: 90px;
	height: 90px;
}

.artikel_group_name{
	text-align: center;
	background: #babdb6;
	height: 50px;
	margin-top: 7px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.artikel_font_artikelCategorie{
	color: #888a85;
	font-family: sans-serif;
	font-style :italic;
	font-size: 24px;
	font-weight: bold;
}

