/** Generell Classes **/

.common_color_colerd{background: #5C9CCC;}

.common_color_white{background: #FCF8F8;}

.common_color_dark{background: #090808;}

.common_color_gray{background: #EEE;}

.common_color_orange{background: #F9B462;}

.common_color_back_button{background: #DFEFFC;}

.common_color_line_button{background: #C2D7E8;}



.common_label_12N{
	color: #555753;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.common_label_12B{
	color: #555753;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}


/** All CSS for the Header Panel **/

.common_headerpanel_main{
	border: 1px #D8D8D8 solid; 
	height: 70px; 
	width: 100%;
}

.common_headerpanel_icon{
	float: left;
	height: 60px;
	padding: 2px 10px 2px 10px;
}

/** All CSS for Info Panel **/

.common_infopanel_main{
	width: 99%;
	min-height: 85px;
	margin: 5px 1px 5px 10px;
	position: relative; 
}

.common_infopanel_meldung_text{
	font-family: sans-serif;
	font-size: 12px;
}


/** All CSS for Content Panel **/

.common_contentpanel_main{
	width: 100%;
	position: relative;
	min-height: 500px;
}


/** All CSS for the Footer Panel **/  

.common_footerpanel_main{
	height: 40px;
	width: 99%;
	margin:10px;
	pading:10px;
	border: 1px #e2dcdc solid;
	vertical-align: middle;
	position: relative;
	clear : both;
}
