<<<<<<< HEAD
.warehouse_fontTitle{
	font-size: 24px;
	color : #2e3436;
	margin: 0px 0px 10px 20px;
}

 .warehouse_main{
	width: 99%;
	height: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 1px 0px 5px 5px;	
}

.warehouse_header{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	border: 1px gray solid;
	text-align: center;
	color: white;
}
	
.warehouse_col_artikel{
	text-align: left;
	padding-left: 10px;
}

.warehouse_col_value{
	text-align: right;
	width: 120px;
	padding-right: 10px;
}
.warehouse_col_maxQuantity{
	text-align: center;
	width: 80px;
}
.warehouse_col_quantity{
	text-align: center;
	width: 80px;
}
.warehouse_col_button{
	text-align: center;
	width: 80px;
}
.warehouse_col_totalValue{
	text-align: right;
	width: 120px;
	padding-right: 10px;
}


=======

 .warehouse_main{
	display: table;
	margin: 10px;
	border: 1px gray solid;
	padding:10px;
	width: 99%
}

.warehouse_header_row{
  	height: 30px;
	border: 1px #2f2a2a solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 1px 0px 5px 5px;
	padding: 2px 0px 0px 10px;
}

.warehouse_header_row_border{
	margin:10px 0px 5px 0px;	
}

.warehouse_header_cell{
   	display: table-cell;
}

.warehouse_data_row{
	display: table-row;
}

 .warehouse_data_row_border{
  	border-bottom: 1px gray solid; 
      padding:5px 0px 0px 5px;
 }

.warehouse_data_cell{
	display: table-cell;
}

.warehouse_column300{width: 300px;}
.warehouse_column60{width: 60px;}
.warehouse_column150{width: 150px;}
.warehouse_column300{width: 300px;}

.warehouse_fontTitle{
   font-size: 24px;
   font-family: sans-serif;
   font-weight: bold;
}

.warehouse_fontHeader{
   font-size: 16px;
   font-family: sans-serif;
   font-weight: bold;
}

.warehouse_fontData{
   font-size: 16px;
   font-family: sans-serif;
   font-weight: normal;
}
 	
>>>>>>> branch 'master' of https://github.com/HeikoLauer/WebShopXXL2.git
 	